/* ***************************************     Media Queries *********************************************/



@media(max-width:1025px){
    body{
        font-size: 20px;
        height: 100vh;
        background-image: url(joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-position: 28%;
    }
    #game h1{
        font-size: 50px;
    }
    #game{
        padding: 50px;
        width: 60vw;
        padding-top: 100px;
    }
    .btns{
        width: 45vw;
        margin-top: 100px;
    }
    .btns button{
        height: 14vw;
        width: 14vw;
    }
}

@media(max-width:500px){
    body{
        font-size: 20px;
        height: 100vh;
        background-image: url(joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-position: center;
        background-position: 31%;
    }
    #game h1{
        font-size: 30px;
    }
    #game{
        padding: 50px;
        width: 80vw;
        padding-top: 100px;
    }
    .btns{
        width: 55vw;
        margin-top: 100px;
    }
    .btns button{
        height: 20vw;
        width: 20vw;
    }
    .gameButton button{
        margin: 5px;
    }
    .btns button{
        height: 15vw;
        width: 15vw;
    }
    footer p{
        font-size: 15px;
    }
}

@media(max-width:420px){
    body{
        font-size: 20px;
        height: 100vh;
    }
    #game{
        padding: 5px;
        width: 80vw;
        padding-top: 25px;
    }
    #game h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 0.25mm;
        text-shadow: 1px 1px 2px rgba(49, 49, 49, 0.35);
    }

    .btns{
        width: 60vw;
        margin-top: 50px;
    }
    .btns button{
        height: 20vw;
        width: 20vw;
    }
    .winner {
        text-align: center;
        font-size: 2rem;
    }
    footer p{
        font-size: 13px;
    }
}

@media(max-width:380px){
    body{
        font-size: 20px;
        height: 100vh;
    }
    #game{
        padding: 5px;
        width: 80vw;
        padding-top: 25px;
    }
    .btns{
        width: 60vw;
        margin-top: 50px;
    }
    .btns button{
        height: 20vw;
        width: 20vw;
    }
}

